@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }

  .flex{
    display: flex;
  }
  .nav-link{
    text-decoration: none;
    color: black;
  }
  .nav-items{
    list-style: none;
    margin-right: 30px;
    

  }
  .navbar{
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
  }
  
  .btn{
    border-radius: 41px;
background: rgb(224, 44, 109);
width: 196px;
height: 44px;
color: rgb(255, 255, 255);
font-size: 1rem;
font-weight: 700;
text-align: center;
  }
  .cam{
    max-width: 100%;
    margin-right: 0px;
    background-image: url(../images/Circle\ design.svg);

  }
  .midhead{
    max-width: 1440px;
    justify-content: space-between;
   
    margin-top: 20px;
    
  }
  .talk{
    max-width: 480px;
    height: 270px;
    margin-left: 50px;

    text-align:left;
  }

  .logos{
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
  }
  .menu{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
  }
  .ajaira{
    text-align: center;
    margin-bottom: 40px;
  }
  .cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  .card{
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;

    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    
  }
  .card > img{
    width: 100%;
   
  }

  /* ###################################### */

  @media screen and (max-width: 576px) {
    
    .midhead, .navbar, .ohh{
        flex-direction: column;
    }
    .logos{
        grid-template-columns: repeat(3,1fr);
    }
    .midhead{
        gap: 20px;
        ;
    }
    .talk{
        margin-bottom: 20px;
        margin-left: 0px;
    }
    .logos{
      
        grid-template-columns: repeat(4, 1fr); 
        margin-left: 0px;}
    
    .cards{
           
         grid-template-columns:1fr;
            
          } 
      .body{
        max-width: 100%;
      }    
  
  }


































  